<h1>Recent Links</h1>

<p>Welcome back <%= @user.name %></p>

<div class="new-link">
  <h3>Share New Link</h3>
  <%= form_for @link do |f| %>
    <%= f.text_field :title, autocomplete: 'off', placeholder: 'Title' %>
    <%= f.text_field :url, autocomplete: 'off', placeholder: 'URL' %>
    <%= f.fields_for :comments do |comment| %>
      <%= comment.text_area :body, size: "30x2", placeholder: 'comment' %>
    <% end %>
    <%= f.submit "Add Link" %>
  <% end %>
</div>

<div class="links">
  <% @links.each do |link| %>
    <div class="link">
      <span class="title"><%= link_to link.title, link %></span>
      <span class="by-line">Submitted by: <%= link.user.name %> - <%= time_ago_in_words(link.created_at) %> ago (<%= pluralize link.comments.count, "comment" %>)</span>
      <% if !link.comments.empty? %>
      <span class="comment"><%= link.comments.last.user.name %> said “<%= link.comments.last.body %>”</span>
      <% end %>
    </div>
  <% end %>
</div>
