<h1>Recent Links</h1>

<p>Welcome back <%= @user.name %></p>

<div class="new-link">
  <h3>Share New Link</h3>
  <%= form_for @link do |f| %>
    <%= show_errors(@link) unless @link.errors.empty? %>
    <div class="control">
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: 'off', placeholder: 'Title' %>
    </div>
    <div class="control">
      <%= f.label :url, "Address" %>
      <%= f.text_field :url, autocomplete: 'off', placeholder: 'http://...' %>
    </div>
    <%= f.fields_for :comments do |comment| %>
      <div class="control">
        <%= comment.label :body, "Comment" %>
        <%= comment.text_area :body, size: "30x2", placeholder: 'Comment' %>
      </div>
    <% end %>
    <div class="control submit">
      <%= f.submit "Add Link" %>
    </div>
  <% end %>
</div>

<div class="links">
  <% @links.each do |link| %>
    <article>
      <cite><%= link_to link.title, link %> (<%= link_to "link", link.url %>)</cite>
      <div class="author">
        <%= link.user.name %> - 
        <%= time_ago_in_words(link.created_at) %> ago 
        (<%= pluralize link.comments.count, "comment" %>) - 
        <% if link.archived_by?(@user) %>
          Archived
        <% else %>
          <%= form_for [link, ArchiveLink.new] do |f| %>
            <%= f.hidden_field :redirect_to, value: "index" %>
            <%= link_to "Archive", '#', class: "js-submit" %>
          <% end %>
        <% end %>
      </div>
      <% if !link.comments.empty? %>
        <div class="comment">
          <p><%= link.comments.last.body %></p>
          <span><%= link.comments.last.user.name %></span>
        </div>
      <% end %>

    </article>  
  <% end %>
</div>
