<div class="header">

  <h1><%= link_to @link.title, @link.url, :target => "_blank" %></h1>

  <div class="controls">
    <%= link_to "Delete", @link, method: :delete if @link.user == @user %>
    <% if @link.archived_by?(@user) %>
      Archived
    <% else %>
      <%= form_for [@link, @archive_link] do |f| %>
        <%= f.submit "Archive" %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="new-comment">
  <%= form_for [@link, @comment] do |f| %>
    <%= show_errors(@comment) unless @comment.errors.empty? %>
    <div class="control">
      <%= f.label :body, "Comment" %>
      <%= f.text_area :body, size: "30x3" %><br/>
    </div>
    <div class="control submit">
      <%= f.submit "Comment" %>
    </div>
  <% end %>
</div>

<div class="archives">
  <% @link.archive_links.each do |archive_link| %>
    <span>
      Archived by <%= archive_link.user.name %> on <%= simple_time archive_link.created_at %>
    </span>
    <br/>
  <% end %>
</div>

<div class="comments">
  <% @link.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.body %></p>
      <span><%= comment.user.name %></span>
    </div>
  <% end %>
</div>
